examples/sample-flow.json
[{"id":"0314f1139f7aca41","type":"ui_slider","z":"89a1c3a96b281264","name":"","label":"slider","tooltip":"","group":"e779a64452cb7a35","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"180","step":"1","className":"","_mcu":{"mcu":true},"x":310,"y":440,"wires":[["89d8e31a607b8f93"]]},{"id":"89d8e31a607b8f93","type":"servo","z":"89a1c3a96b281264","name":"SG90","hz":"50","pulseMin":"0.5","pulseMax":"2.4","angleMin":"0","angleMax":"180","_mcu":{"mcu":true},"x":510,"y":480,"wires":[["9f3d3ec5de02a789"]]},{"id":"9f3d3ec5de02a789","type":"mcu_pwm_out","z":"89a1c3a96b281264","name":"","pin":"17","hz":"","moddable_manifest":{"include":"$(NODEREDMCU)/nodes/mcu/pwm/manifest.json"},"_mcu":{"mcu":true},"x":690,"y":480,"wires":[]},{"id":"e6ee98e673063e49","type":"inject","z":"89a1c3a96b281264","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","_mcu":{"mcu":true},"x":310,"y":480,"wires":[["89d8e31a607b8f93"]]},{"id":"4b433ddfa843cb4f","type":"inject","z":"89a1c3a96b281264","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"90","payloadType":"num","_mcu":{"mcu":true},"x":310,"y":520,"wires":[["89d8e31a607b8f93"]]},{"id":"1fa371cbbf36401f","type":"inject","z":"89a1c3a96b281264","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"180","payloadType":"num","_mcu":{"mcu":true},"x":310,"y":560,"wires":[["89d8e31a607b8f93"]]},{"id":"e779a64452cb7a35","type":"ui_group","name":"Servo","tab":"76939abbd2e41c81","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"76939abbd2e41c81","type":"ui_tab","name":"MCU","icon":"dashboard","order":3,"disabled":false,"hidden":false}]